.unit-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 40px 0;
}

.unit-title {
  margin-bottom: 40px;
}

.player-units {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
